@tailwind base;
@tailwind components;
@tailwind utilities;

@media (max-width: 639px) {
  .md:flex-wrap {
    flex-direction: column;
  }
}

/* 共通デザイン */

body {
  line-height: 1.7rem;
  color: rgb(75 85 99);
}

p {
  margin-bottom: 1.4rem;
}

main {
  display: flex;
  justify-content: center;
}

.main-contents-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 1rem 1rem;
  width: 100%;
  height: 100%;
  max-width: 1150px;
  background-color: #ffffff;
}

h2 {
  padding: 1.25rem;
  margin: 2rem 0;
  background-color: #60a5fa;
  font-size: 1.25rem;
  font-weight: bold;
  color: #ffffff;
  border-radius: 0.25rem;
}

/* ブログのコンテンツエリアのデザイン */

.blog a {
  color: #2a7bdf;
}

.blog h1 {
  font-size: 1.8rem;
  padding: 2rem 0;
  background-color: #ffffff;
  color: #4a5568;
  font-weight: bold;
}

.blog h2 {
  background-color: #60a5fa;
  color: #fff;
  font-size: 1.25rem;
  font-weight: bold;
  border-radius: 0.375rem;
  padding: 1.25rem;
}

.blog h3 {
  font-size: 1.25rem;
  font-weight: bold;
  border-bottom: 2px solid #60a5fa;
  padding: 1rem;
}

.blog h4 {
  text-align: center;
  font-size: 1.25rem;
  border-bottom: 2px dashed #60a5fa;
  padding: 1rem;
  margin: 0 auto;
  width: 90%;
}

.blog .card h3 {
  font-size: 1.125rem;
  padding: 0;
  font-weight: bold;
  color: #4a5568;
  margin-bottom: 1rem;
  border: none;
}